{% extends "base.html" %}
{% block title %}Registration{% endblock %}

{% block app_content %}
{% from "/security/_macros.html" import render_input_with_errors, render_field, render_checkbox %}

<div class="row justify-content-center">
    <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-2 col-sm-8 offset-sm-1">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title mb-4">{{ _('Register') }}</h3>
                <form action="{{ url_for_security('register') }}" method="post" name="register_user_form">
                    {{ register_user_form.hidden_tag() }}
                    {{ render_input_with_errors(register_user_form.username) }}
                    {{ render_input_with_errors(register_user_form.email) }}
                    {{ render_input_with_errors(register_user_form.password) }}
                    {% if register_user_form.password_confirm %}
                      {{ render_input_with_errors(register_user_form.password_confirm) }}
                    {% endif %}

                    <button type="submit" class="btn btn-info">Register</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-3 mt-sm-5">
        <p>Already have an account?</p>
        <p><a href="{{ url_for_security('login') }}" class="btn btn-secondary" role="button">{{ _('Sign In') }}</a></p>
    </div>
</div>
<div class="row justify-content-center mt-sm-3">
    <div class="col-ld-8 col-md-12">
        <p>Disclaimer: lidarts.org is still in beta. The account database will be reset during and after the testing phase.</p>
        <p>Your password is securely encripted, no one associated with lidarts is able to see it in plaintext.</p>
        <p>By registering you agree to receive test emails from lidarts. Your account information will not be shared with third party services.</p>
    </div>
</div>

{% endblock %}
