{% extends "base.html" %}

{% block app_content %}
{% from "/security/_macros.html" import render_input_with_errors, render_field %}

<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-10 ">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">{{ _('Reset password') }}</h3>
                <hr>
                <form action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST" name="reset_password_form">
                    {{ reset_password_form.hidden_tag() }}
                    {{ render_input_with_errors(reset_password_form.password) }}
                    {{ render_input_with_errors(reset_password_form.password_confirm) }}

                    <button type="submit" class="btn btn-info">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

