{% extends "base.html" %}

{% block app_content %}



<div class="row justify-content-center">
    <div class="col-md-6 col-xl-4">
        <div class="card bg-light text-dark bs-callout bs-callout-info text-center">
            <div class="card-body">
                <h5 class="card-title">{{ _('General settings') }}</h5>
                <hr>
                <form method="POST" class="form-horizontal">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.notification_sound.label(class="control-label") }}:
                        {{ form.notification_sound(class="form-control custom-select") }}
                    </p>

                    <p>
                        {{ form.allow_challenges.label(class="control-label") }}:
                        {{ form.allow_challenges(class="form-control custom-select") }}
                    </p>

                    <p>
                        {{ form.allow_private_messages.label(class="control-label") }}:
                        {{ form.allow_private_messages(class="form-control custom-select") }}
                    </p>

                    <p>{{ form.submit(class="btn btn-lg btn-info") }}</p>
                </form>

            </div>
        </div>
    </div>

</div>


{% endblock %}
