{% extends "base.html" %}

{% block app_content %}



<div class="row ">
    {% include 'profile/settings.html' %}

    <div class="col-md-6 col-lg-5 col-xl-4 order-2">
        <div class="card bg-light text-dark bs-callout bs-callout-info text-center">
            <div class="card-body">
                <h5 class="card-title">{{ _('General settings') }}</h5>
                <hr>
                <form method="POST" class="form-horizontal">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.notification_sound.label(class="control-label") }}:
                        {{ form.notification_sound(class="form-control custom-select") }}
                    </p>

                    <p>
                        {{ form.allow_challenges.label(class="control-label") }}:
                        {{ form.allow_challenges(class="form-control custom-select") }}
                    </p>

                    <p>
                        {{ form.allow_private_messages.label(class="control-label") }}:
                        {{ form.allow_private_messages(class="form-control custom-select") }}
                    </p>

                    <p>
                        {{ form.allow_friend_requests.label(class="control-label") }}:
                        {{ form.allow_friend_requests(class="form-control custom-select") }}
                    </p>

                    <p>
                        {{ form.show_average_in_chat_list.label(class="control-label") }}:
                        {{ form.show_average_in_chat_list(class="form-control custom-select") }}
                    </p>

                    <p>
                        {{ form.checkout_suggestions.label(class="control-label") }}:
                        {{ form.checkout_suggestions(class="form-control custom-select") }}
                    </p>
                    
                    <p>{{ form.submit(class="btn btn-lg btn-info") }}</p>
                </form>

            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-4 col-xl-4 mt-2 mt-md-0 order-3">
        <div class="card bg-light text-dark bs-callout bs-callout-warning text-center">
            <div class="card-body">
                <h5 class="card-title">{{ _('Country settings') }}</h5>
                <hr>
                <form method="POST" class="form-horizontal">
                    {{ country_form.hidden_tag() }}
                    <p>
                        {{ country_form.country.label(class="control-label") }}:
                        {{ country_form.country(class="form-control custom-select") }}
                    </p>

                    <p>{{ _('You can change your country setting only once per month. Please confirm.') }}</p>
                    <p><div class="custom-control custom-checkbox">
                        {{ country_form.accept_country_cooldown(class="custom-control-input") }}
                        {{ country_form.accept_country_cooldown.label(class="custom-control-label") }}
                        {% if country_form.accept_country_cooldown.errors %}
                        <ul class="errors text-danger">{% for error in country_form.accept_country_cooldown.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                        {% endif %}
                        </div>
                    </p>
                    
                    <p>{{ country_form.submit(class="btn btn-lg btn-info") }}</p>
                </form>

            </div>
        </div>
    </div>

</div>


{% endblock %}
