{% extends "base.html" %}
{% block title %}Profile overview{% endblock %}

{% block app_content %}


<div class="row ">
    <div class="col-md-4 mb-3">
        <div class="card bg-light text-dark">
            <div class="card-body">
                <h3 class="card-text">
                    <i class="fas fa-circle" style=" font-size: 20px; {% if is_online %}color: #33aa44" title="User is online{% else %}color: #999999" title="User is offline{% endif %}"></i>
                    {{ user.username }} {% if user.id in friend_list %}<i class="fas fa-user-friends" title="User is your friend."></i>{% endif %}</h3>
            </div>
        </div>
    </div>

</div>

<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card bg-light text-dark bs-callout bs-callout-info">
            <div class="card-body">
                {% if current_user.id == user.id %}
                <h5 class="card-title"><i class="fas fa-cog"></i> Preferences</h5>
                <hr>
                <p><a href="" class="text-secondary">Edit profile</a></p>
                <p><a href="{{ url_for('profile.manage_friend_list') }}" class="text-secondary">Manage friend list</a></p>
                <p><a href="" class="text-secondary">Change display name</a></p>
                <p><a href="{{ url_for_security('change_password') }}" class="text-secondary">Change password</a></p>
                <p><a href="" class="text-secondary">Set language</a></p>


                {% else %}
                <h5 class="card-title"><i class="fas fa-users"></i> Interaction</h5>
                <hr>

                {% if user.id not in friend_list %}<p>
                <form action="/send_friend_request/{{ user.id }}" method="post">
                    <a href="javascript:;" onclick="parentNode.submit();">Send friend request</a>
                    <input type="hidden" name="friend_request" value="{{ user.id }}">
                </form></p>
                {% endif %}

                <p><a href="{{ url_for('game.create', mode='x01', opponent_name=user.username) }}" class="text-secondary">Challenge to game</a></p>

                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-light text-dark  bs-callout bs-callout-warning">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-history"></i> Recent games</h5>
                <hr>
                {% for game in games[:5] if game.status != 'challenged' %}

                <p class="text-secondary"><a href="{{ url_for('game.start', hashid=game.hashid) }}"
                                             class="
                                             {%- if game.status == 'started' %}text-started
                                             {%- elif game.player1 != game.player2 and
                                                    ((game.player1 == current_user.id and game.p1_sets > game.p2_sets)
                                                    or (game.player2 == current_user.id and game.p2_sets > game.p1_sets))
                                             %}text-success
                                             {%- elif game.player1 != game.player2 and
                                                    ((game.player1 == current_user.id and game.p1_sets < game.p2_sets)
                                                    or (game.player2 == current_user.id and game.p2_sets < game.p1_sets))
                                             %}text-danger
                                             {%- elif game.p1_sets == game.p2_sets %}text-warning
                                             {%- else %}text-secondary
                                             {%- endif %}
                                                ">vs.
                    {%- if game.player1 != current_user.id %} {{ player_names[game.player1] }}
                    {%- elif game.player2 != current_user.id %} {{ player_names[game.player2] }}
                    {%- else %} local guest{% endif %}
                    - [{{ game.p1_sets }}:{{ game.p2_sets }}, {{ game.p1_legs }}:{{ game.p2_legs }}]</a></p>
                {% endfor %}
                <a href="#" class="text-secondary">Full match list</a>

            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="card bg-light text-dark bs-callout bs-callout-danger">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-chart-bar"></i> Statistics</h5>
                <hr>
            </div>
        </div>
    </div>
</div>




{% endblock %}