{% extends "base.html" %}
{% block title %}Profile overview{% endblock %}

{% block app_content %}


<div class="row ">
    <div class="col-md-4 mb-3">
        <div class="card bg-light text-dark">
            <div class="card-body">
                <h3 class="card-text">
                    <img src="{{ avatar_url }}" height="60px" width="60px" class="avatar border">
                    <i class="fas fa-circle {% if is_online %}status-{{ user.status }}" title="User is {{ user.status }}"{% else %}text-secondary" title="User is offline"{% endif %} style="font-size: 20px;"></i>
                    {{ user.username }} {% if user.id in friend_list %}<i class="fas fa-user-friends" title="User is your friend."></i>{% endif %}</h3>
            </div>
        </div>
    </div>

</div>

<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card bg-light text-dark bs-callout bs-callout-info">
            <div class="card-body">
                {% if current_user.id == user.id %}
                <h5 class="card-title"><i class="fas fa-cog"></i> Preferences</h5>
                <hr>
                <p><a href="{{ url_for('generic.private_messages') }}" class="text-secondary">Private messages</a></p>
                <p><a href="" class="text-secondary">Edit profile</a></p>
                <p><a href="{{ url_for('profile.manage_friend_list') }}" class="text-secondary">Manage friend list</a></p>
                <p><a href="{{ url_for('auth.change_username') }}" class="text-secondary">Change display name</a></p>
                <p><a href="{{ url_for_security('change_password') }}" class="text-secondary">Change password</a></p>
                <p><a href="{{ url_for('profile.change_avatar') }}" class="text-secondary">Change avatar</a></p>
                <p><a href="{{ url_for('profile.change_caller') }}" class="text-secondary">Change caller</a></p>


                {% else %}
                <h5 class="card-title"><i class="fas fa-users"></i> Interaction</h5>
                <hr>

                {% if user.id not in friend_list %}<p>
                <form action="/send_friend_request/{{ user.id }}" method="post">
                    <a href="javascript:;" onclick="parentNode.submit();" class="text-secondary">Send friend request</a>
                    <input type="hidden" name="friend_request" value="{{ user.id }}">
                </form></p>
                {% endif %}

                <p><a href="{{ url_for('game.create', mode='x01', opponent_name=user.username) }}" class="text-secondary">Challenge to game</a></p>

                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-light text-dark  bs-callout bs-callout-warning">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-history"></i> Recent games</h5>
                <hr>
                {% for game in games[:5] if game.status != 'challenged' and game.status != 'declined' %}

                <p class="text-secondary"><a href="{{ url_for('game.start', hashid=game.hashid) }}"
                                             class="
                                             {%- if game.status == 'started' %}text-started
                                             {%- elif game.player1 != game.player2 and
                                                    ((game.player1 == user.id and game.p1_sets > game.p2_sets)
                                                    or (game.player2 == user.id and game.p2_sets > game.p1_sets))
                                             %}text-success
                                             {%- elif game.player1 != game.player2 and
                                                    ((game.player1 == user.id and game.p1_sets < game.p2_sets)
                                                    or (game.player2 == user.id and game.p2_sets < game.p1_sets))
                                             %}text-danger
                                             {%- elif game.p1_sets == game.p2_sets %}text-warning
                                             {%- else %}text-secondary
                                             {%- endif %}
                                                ">vs.
                    {%- if game.opponent_type.startswith('computer') %} Trainer {{ game.opponent_type[8:] }}
                    {%- elif game.player1 != user.id %} {{ player_names[game.player1] }}
                    {%- elif game.player2 != user.id %} {{ player_names[game.player2] }}
                    {%- else %} local guest{% endif %}
                    - {{ game.type }} {{ game.in_mode }}/{{ game.out_mode }} [{{ game.p1_sets }}:{{ game.p2_sets }}, {{ game.p1_legs }}:{{ game.p2_legs }}]</a></p>
                {% endfor %}
                <a href="{{ url_for('profile.game_history', username=player_names[user.id]) | replace('%40', '@') }}" class="text-secondary">Full match list</a>

            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="card bg-light bs-callout bs-callout-danger text-secondary">
            <div class="card-body">
                <h5 class="card-title text-dark"><i class="fas fa-chart-bar"></i> Statistics (501 SI/DO)</h5>
                <hr>
                <p>Darts thrown: {{ stats['darts_thrown'] }}</p>
                <p>Average: {{ stats['average'] }}</p>
                <p>First 9: {{ stats['first9_average'] }}</p>
                <p>Doubles: {{ stats['doubles'] }}%</p>

            </div>
        </div>
    </div>
</div>




{% endblock %}