{% extends "base.html" %}

{% block app_content %}


<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card bg-light text-dark bs-callout bs-callout-info">
            <div class="card-body">
                <h5 class="card-title">{{ _('404 Error') }}</h5>
                <hr>
                <p>{{ _('Oops, you've visited a page that does not exist.') }}</p>
                <p>{{ _('If you've found a bug please contact us at contact@lidarts.org. Thank you!') }}</p>

            </div>
        </div>
    </div>
</div>




{% endblock %}