{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-powertip/1.2.0/css/jquery.powertip.css" />
{% endblock %}

{% block app_content %}

<div class="row justify-content-center">
    <div class="col-sm-8">
        <div class="card bg-light text-dark">
            <div class="card-body">
                <div class="card bg-light">
                    <div class="card-body" id="chatbox" style="height: 600px; overflow-y: scroll;">
                        {% for message in messages %}
                        <p><strong><a href="{{ url_for('profile.overview', username=user_names[message.author]) }}" class="text-dark">{{ user_names[message.author] }}</a></strong> <small class="text-secondary">{{ message.timestamp.strftime('%H:%M:%S') }}</small><br>
                        {{ message.message }}</p>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <form id="message_input" method="POST" action="">
            {{ form.hidden_tag() }}
            {{ form.message(class="form-control") }}
            {{ form.submit }}
        </form>
    </div>
    <div class="col-sm-4">
        <div class="card bg-light text-dark">
            <div class="card-body">
                <div class="card bg-light">
                    <div class="card-body" id="online_players" style="height: 600px; overflow-y: scroll;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<meta id="validation_url" data-url="{{ url_for('generic.validate_chat_message') }}">
<meta id="profile_url" data-url="{{ url_for('profile.overview') | replace('%40', '@') }}">
<meta id="game_url" data-url="{{ url_for('game.start') }}">
<meta id="user_id" data-id="{{ current_user.id }}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-powertip/1.2.0/jquery.powertip.js" crossorigin="anonymous"></script>

<script type="text/javascript" src="/static/js/chat_socket.js"></script>


{% endblock %}