{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/jquery.powertip.min.css" />
<link rel="stylesheet" type="text/css" href="/static/css/chat.css" />
{% endblock %}

{% block app_content %}

<div class="row justify-content-center">
    <div class="col-sm-8">
        <div class="card bg-light text-dark">
            <div class="card-body">
                <div class="card bg-light">
                    <div class="card-body" id="chatbox" style="height: 600px; overflow-y: scroll;">
                        {% for message in messages %}
                        <p><strong><a href="{{ url_for('profile.overview', username=user_names[message.author]) }}" class="text-dark">{{ user_names[message.author] }}</a></strong>
                            <small class="text-secondary"> {{ moment(message.timestamp).format('HH:mm:ss') }} - Avg.: {{ statistics[message.author]['average'] }}</small><br>
                        {{ message.message|safe }}</p>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <form id="message_input" method="POST" action="">
            {{ form.hidden_tag() }}
            {{ form.message(class="form-control", autocomplete="off", maxlength="500") }}
            {{ form.submit }}
        </form>
    </div>
    <div class="col-sm-4">
        <div class="card bg-light text-dark">
            <div class="card-body" id="online_players" style="height: 600px; overflow-y: scroll;">
            </div>
        </div>
        <p>{{ _('Online') }}: <span id="online-players-count"></span></p>
        <p>{{ _('Playing') }}: <span id="ingame-players-count"></span></p>
    </div>
</div>

{% endblock %}

{% block scripts %}
<meta id="validation_url" data-url="{{ url_for('generic.validate_chat_message') }}">
<meta id="profile_url" data-url="{{ url_for('profile.overview') | replace('%40', '@') }}">
<meta id="game_url" data-url="{{ url_for('game.start') }}">
<meta id="create_url" data-url="{{ url_for('game.create') }}">
<meta id="private_messages_url" data-url="{{ url_for('generic.private_messages') }}">
<meta id="send_request_url" data-url="{{ url_for('generic.send_friend_request') }}">
<meta id="user_id" data-id="{{ current_user.id }}">

<script src="/static/js/jquery.powertip.min.js" crossorigin="anonymous"></script>

<script type="text/javascript" src="/static/js/chat_socket.js"></script>


{% endblock %}