{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/jquery.powertip.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/chat.css', version=config.VERSION) }}" />
{% endblock %}

{% block app_content %}

<div class="row justify-content-center">
    <div class="col-sm-8">
        <div class="card bg-light text-dark">
            <div class="card-body">
                <div class="card bg-light">
                    <div class="card-body" id="chatbox" style="height: 600px; overflow-y: scroll;">
                        {% for message, username, average, country in messages[::-1] %}
                        <p>
                            {% if country %}<img src="/static/img/flags/{{ country | lower }}.png" style="margin-right: 5px">{% endif %}<strong><a href="{{ url_for('profile.overview', username=username | replace('%40', '@')) }}" class="text-dark">{{ username }}</a></strong>
                            <small class="text-secondary"> {{ moment(message.timestamp).format('HH:mm:ss') }} - Avg.: {{ average }}</small><br>
                        {{ message.message|safe }}
                        </p>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <form id="message_input" method="POST" action="">
            {{ form.hidden_tag() }}
            {{ form.message(class="form-control", autocomplete="off", maxlength="500") }}
            {{ form.submit }}
        </form>
        <button type="button" id="match-alert-toggle" class="btn btn-secondary {% if match_alert %}active{% endif %} mt-2" data-toggle="button" aria-pressed="true" autocomplete="off">
            Match alerts {% if match_alert %}enabled{% else %}disabled{% endif %}
        </button>
    </div>
    <div class="col-sm-4">
        <div class="card bg-light text-dark">
            <div class="card-body" id="online_players" style="height: 600px; overflow-y: scroll;">
            </div>
        </div>
        <p>{{ _('Online') }}: <span id="online-players-count"></span></p>
        <p>{{ _('Playing') }}: <span id="ingame-players-count"></span></p>
    </div>
</div>

{% endblock %}

{% block scripts %}
<meta id="validation_url" data-url="{{ url_for('generic.validate_chat_message') }}">
<meta id="profile_url" data-url="{{ url_for('profile.overview') | replace('%40', '@') }}">
<meta id="game_url" data-url="{{ url_for('game.start') }}">
<meta id="create_url" data-url="{{ url_for('game.create') }}">
<meta id="private_messages_url" data-url="{{ url_for('generic.private_messages') }}">
<meta id="send_request_url" data-url="{{ url_for('generic.send_friend_request') }}">
<meta id="user_id" data-id="{{ current_user.id }}">
<meta id="match_alert" data-enabled="{{ match_alert }}">

<script src="{{ url_for('static', filename='js/jquery.powertip.min.js', crossorigin='anonymous') }}"></script>

<script type="text/javascript" src="{{ url_for('static',filename='js/chat_socket.js', version=config.VERSION) }}"></script>


{% endblock %}