{% extends "base.html" %}

{% block app_content %}


<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card bg-light text-dark bs-callout bs-callout-info">
            <div class="card-body">
                <h2>Contribute to lidarts.org</h2>
                <hr>
                <p>Lidarts relies on volunteers to develop and maintain the project. There are several ways you can help out.</p>

                <h4 class="mt-4">Play and provide feedback</h4>
                <hr>
                <p>During development I try to test the features the best I can. But there will still be bugs that make it through to the live server.
                    If you encounter any bugs or problems during play or you have ideas or feedback to improve the site, please <a href="{{ url_for('generic.contact') }}">contact</a> lidarts.</p>

                <h4 class="mt-4">Tell your friends</h4>
                <hr>
                <p>Lidarts generates no money - it is free for everyone, we do not sell ads nor your data. The downside is the lack of a budget for marketing.
                    We rely on users to make Lidarts known to darts players. So tell your friends, invite them to play and spread the word! </p>


                <h4 class="mt-4">Graphics</h4>
                <hr>
                <p>The design of the website is not finished, but Lidarts mainly lacks some graphics to improve the look. Especially a logo is missing to represent the Lidarts visually. Do you have ideas for a logo? Do you have the know-how to create graphics for Lidarts? If so, <a href="{{ url_for('generic.contact') }}">contact</a> us.</p>

                <h4 class="mt-4">Design</h4>
                <hr>
                <p>I am not a web designer and the website reflects that. At some point Lidarts will need a redesign and some help would be greatly appreciated.
                    You can help out with design ideas: Create a visual concept with Paint, Photoshop or whatever you like and <a href="{{ url_for('generic.contact') }}">send it to me.</a>
                    Or even better: you can work directly on the frontend and implement your ideas if you have some knowledge about HTML, CSS and JavaScript.
                    Interested? <a href="{{ url_for('generic.contact') }}">Contact Lidarts</a> or visit the <a href="https://github.com/mischkadb/lidarts">GitHub repo</a>.</p>

                <h4 class="mt-4">Programming</h4>
                <hr>
                <p>Of course you are more than welcome to join Lidarts and develop on the project. At the current stage I am all by myself and try to get the project contribution-ready.
                    If you are interested to get started take a look at the <a href="https://github.com/mischkadb/lidarts">GitHub repo</a> or <a href="{{ url_for('generic.contact') }}">contact me</a>.</p>



            </div>
        </div>
    </div>
</div>




{% endblock %}