{% extends "base.html" %}

{% block jumbotron %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4 mb-4 "><img src="{{ url_for('static', filename='img/logo.png') }}" width="78" height="40" alt="lidarts logo" class=""> {{ _('Welcome to lidarts.org!') }}</h1> 
        <p class="lead">{{ _('lidarts.org is an') }} <a href="https://github.com/mischkadb/lidarts">{{ _('open-source') }}</a>, {{ _('forever free online darts website.') }} <span class="badge badge-danger">Beta</span></p>
        <hr class="my-4">
        <p class="mb-4">{{ _('Play darts against real opponents. With a webcam or without. Or train against the computer.') }} {{ _('No costs, no ads, no trackers.') }}</p>
        <p class="lead">
            <div class="btn-group btn-group-lg" role="group" aria-label="JumbotronButtons">
                <a href="{{ url_for('generic.about') }}"  class="btn btn-secondary" role="button"><i class="fas fa-info-circle"></i> {{ _('Learn more') }}</a></li>
                <a href="{{ url_for_security('register') }}" class="btn btn-info" role="button"><i class="fas fa-user-plus"></i> {{ _('Sign Up now') }}</a>
            </div>
        </p>
    </div>
</div>
{% endblock %}

{% block app_content %}

{% endblock %}