{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block jumbotron %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4 mb-4">Welcome to lidarts.org! <span class="badge badge-danger">BETA</span></h1>
        <p class="lead">lidarts.org is an <a href="https://github.com/mischkadb/lidarts">open-source</a>, forever free online darts website.</p>
        <hr class="my-4">
        <p class="mb-4">Lidarts.org is still in beta. It may be slow, unreliable or crash at any time. The website is actively worked on to add new features and improve the experience.</p>
        <p class="lead">
            <div class="btn-group btn-group-lg" role="group" aria-label="JumbotronButtons">
                <a href="{{ url_for('generic.about') }}"  class="btn btn-secondary" role="button"><i class="fas fa-info-circle"></i> {{ _('Learn more') }}</a></li>
                <a href="{{ url_for_security('register') }}" class="btn btn-info" role="button"><i class="fas fa-user-plus"></i> {{ _('Sign Up now') }}</a>
            </div>
        </p>
    </div>
</div>
{% endblock %}

{% block app_content %}

{% endblock %}