{% extends "base.html" %}

{% block app_content %}


<div class="row mb-3">
    <div class="col-auto">
        <div class="card bg-light text-dark">
            <div class="card-body">
                <h2 class="card-text"><img src="{{ url_for('static', filename='img/logo.png') }}" width="76" height="38"
                        alt="lidarts logo" class=""> {{ _('Welcome back') }} {{ current_user.username }}!</h2>
            </div>
        </div>
    </div>
</div>

{% if announcement %}
<div class="row">
    <div class="col-auto">
        <div class="alert alert-info">
            {{ announcement }}
        </div>
    </div>
</div>
{% endif %}

<div class="row mb-3">
    <div class="col-12">
        <div class="card bg-light text-dark">
            <div class="card-body">
                <h4 class="card-text">{{ _('New on Lidarts:') }} <a href="{{ url_for('game.create', mode='x01') }}">{{
                        _('World Championship mode') }}</a> | <a href="{{ url_for('generic.help_translate') }}">{{
                        _('Help translating Lidarts') }}</a></h4>
            </div>
        </div>
    </div>
</div>


<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card bg-light text-dark bs-callout bs-callout-info">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-gamepad"></i> {{ _('Play') }}</h5>
                <hr>
                <a href="{{ url_for('game.create') }}" class="no-underline">
                    <div class="card bg-info text-light text-center">
                        <div class="card-body">
                            <h5 class="card-text">{{ _('Create a game') }}</h5>
                        </div>
                    </div>
                </a>

                <hr>

                {% if mobile_follower_mode %}
                <a href="{{ url_for('game.webcam_follow') }}" class="no-underline">
                    <div class="card bg-secondary text-light text-center">
                        <div class="card-body">
                            <h5 class="card-text">{{ _('Webcam follow page') }}</h5>
                        </div>
                    </div>
                </a>
                <hr>
                {% endif %}

                <h5>{{ _('Public challenges') }} </h5>
                <p>{{ _('Click to accept and play') }}</p>
                <div class="" id="public_challenge_list"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 mt-2 mt-md-0">
        <div class="card bg-light text-secondary bs-callout bs-callout-warning">
            <div class="card-body">
                <h5 class="card-title text-dark"><i class="fas fa-envelope"></i> {{ _('Notifications') }}</h5>
                <hr>
                <!-- CHALLENGES -->
                {% if challenges %}
                <p>{{ _('Challenges:') }}</p>
                {% for game in challenges %}
                <p id="element-decline-challenge-{{ game.hashid }}">
                    <a href="{{ url_for('game.start', hashid=game.hashid) }}">
                        {{ player_names[game.player1] }}:
                        {% if game.variant == 'x01' %}{{ game.type }} {{ game.in_mode }}/{{ game.out_mode }}{% else
                        %}Cricket{% endif %} {% if game.bo_sets > 1 %}bo{{ game.bo_sets }} sets,{% endif %} bo{{
                        game.bo_legs }} legs
                        {% if game.webcam %}<i class="fas fa-camera" title="Webcam"></i>{% endif %}
                    </a>
                    <a href="#" style="color: #cc4444"><i class="fas fa-times-circle decline-challenge"
                            id="decline-challenge-{{ game.hashid }}"></i></a>
                </p>
                {% endfor %}
                {% endif %}
                <!-- GAMES IN PROGRESS -->
                {% if games_in_progress %}
                <p>{{ _('Games in progress:') }}</p>
                {% for game in games_in_progress %}
                <p><a href="{{ url_for('game.start', hashid=game.hashid) }}">vs.
                        {%- if game.player1 != current_user.id %} {{ player_names[game.player1] }}
                        {%- elif game.player2 != current_user.id %} {{ player_names[game.player2] }}
                        {%- else %} {{ _('local guest') }}{% endif %}
                        - [{{ game.p1_sets }}:{{ game.p2_sets }}, {{ game.p1_legs }}:{{ game.p2_legs }}]</a></p>
                {% endfor %}
                <hr>
                {% endif %}
                <!-- NEW CHALLENGES -->
                {% if challenges %}
                <hr>
                {% endif %}
                <!-- FRIEND REQUESTS -->
                {% if friend_requests %}
                <p>{{ _('New friend requests') }}</p>
                {% for friend_request in friend_requests %}
                <p id="element-friend-request-{{friend_request.requesting_user_id}}"><strong>{{
                        player_names[friend_request.requesting_user_id] }}</strong>
                    <span class="btn-group btn-group-sm text-right" role="group"
                        aria-label="Accept or decline friend request" style="float: right">
                        <button class="btn btn-success button-accept-friend-request"
                            id="button-accept-friend-request-{{friend_request.requesting_user_id}}" role="button"><i
                                class="fas fa-check-circle"></i></button>
                        <button class="btn btn-danger button-decline-friend-request"
                            id="button-decline-friend-request-{{friend_request.requesting_user_id}}" role="button"><i
                                class="fas fa-times-circle"></i></button>
                    </span>
                    {% endfor %}
                    <hr>
                    {% endif %}

            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 mt-2 mt-lg-0">
        <div class="card bg-light text-secondary bs-callout bs-callout-danger">
            <div class="card-body">
                <h5 class="card-title text-dark"><i class="fas fa-user-friends"></i> {{ _('Friends online') }}</h5>
                <hr>
                {% if not online_friend_list %}{{ _('None') }}
                {% else %}
                {% for friend in online_friend_list %}
                <p><a href="{{ url_for('profile.overview', username=player_names[friend]) | replace('%40', '@') }}">
                        <strong>{{ player_names[friend] }}</strong>
                    </a></p>
                {% endfor %}
                {% endif %}

                <hr>

                <form method="POST" class="form-horizontal">
                    {{ form.hidden_tag() }}
                    <p>{{ form.username.label(class="control-label") }}:
                        {{ form.username(class="form-control") }}</p>
                    {% if form.errors %}
                    {% for error in form.username.errors %}
                    <p class="font-weight-bold text-danger">{{ error }}</p>
                    {% endfor %}
                    {% endif %}

                    <p>{{ form.submit(class="btn btn-lg btn-info") }}</p>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<meta id="accept_url" data-url="{{ url_for('generic.accept_friend_request') }}">
<meta id="game_url" data-url="{{ url_for('game.start') }}">
<meta id="decline_url" data-url="{{ url_for('generic.decline_friend_request') }}">
<meta id="decline_challenge_url" data-url="{{ url_for('game.decline_challenge') }}">
<meta id="user_name" data-username="{{ current_user.username }}">

<script type="text/javascript"
    src="{{ url_for('static',filename='js/public_challenge_socket.js', version=config.VERSION) }}"></script>
<script type="text/javascript"
    src="{{ url_for('static',filename='js/friend_requests.js', version=config.VERSION) }}"></script>
{% endblock %}