{% extends "base.html" %}

{% block app_content %}
{% if not webcam %}
<div class="row d-none d-lg-block">
    <div class="col-12 text-center">
        <h3><a href="{{ url_for('game.create', webcam=True) }}">{{ _('Try out webcam games') }}</a></h3>
    </div>
</div>
{% endif %}

<div class="row justify-content-center mb-2">
    <div class="col-12 col-md-6 text-center">
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-center">
                    <h1>{{ _('Create Game') }}</h1>
                    {% if webcam %}
                    <h3 class="text-warning">{{ _('with webcam (experimental)') }}</h3>
                    {% endif %}
                </div>

                <hr>

                <div class="row justify-content-center text-secondary">
                    <div class="col-6 text-right align-self-center ">
                        {{ _('Game Mode') }}:
                    </div>
                    <div class="col-6 align-self-center text-left">
                        <div class="dropdown show">
                            <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                X01
                            </a>
                            <div class="dropdown-menu" aria-labelledby="gameModeDropdown">
                                <a class="dropdown-item" href="{{ url_for('game.create') }}/x01">X01</a>
                                <a class="dropdown-item" href="#">-</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form action="" method="post" class="form-horizontal">
    {{ form.hidden_tag() }}

    <div class="row justify-content-center text-secondary">
        <div class="col-lg-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <p>{{ form.type.label(class="control-label") }}:
                        {{ form.type(class="form-control custom-select") }}</p>

                    <p>{{ form.opponent.label(class="col-form-label") }}:
                        {{ form.opponent(class="custom-select", onchange="computercheck(this);") }}
                    </p>

                    <p {% if form.opponent.data != 'computer' %}style="display: none;"{% endif %} id="levels">{{ form.level.label(class="col-form-label") }}:
                        {{ form.level(class="custom-select") }}
                    </p>

                    <p {% if form.opponent.data != 'online' %}style="display: none;"{% endif %}id="opponent_name">{{ form.opponent_name.label(class="col-form-label") }}:
                        {{ form.opponent_name(class="form-control") }}
                    </p>

                    <p>
                        <div class="custom-control custom-checkbox" {% if form.opponent.data != 'online' %}style="display: none;"{% endif %} id="public_challenge_div">
                        {{ form.public_challenge(class="custom-control-input") }}
                        {{ form.public_challenge.label(class="custom-control-label") }}
                        </div>
                    </p>

                    <p {% if form.opponent.data != 'online' %}style="display: none;"{% endif %} id="tournaments">
                        {{ form.tournament.label(class="col-form-label") }}:
                        {{ form.tournament(class="custom-select") }}
                    </p>


                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <p>{{ form.bo_sets.label(class="col-form-label") }}:
                        {{ form.bo_sets(class="custom-select") }}</p>

                    <p>{{ form.bo_legs.label(class="col-form-label") }}:
                        {{ form.bo_legs(class="custom-select") }}</p>

                    <p><div class="custom-control custom-checkbox">
                        {{ form.two_clear_legs(class="custom-control-input") }}
                        {{ form.two_clear_legs.label(class="custom-control-label") }}
                        </div>
                    </p>

                    <p><div class="custom-control custom-checkbox">
                        {{ form.save_preset(class="custom-control-input") }}
                        {{ form.save_preset.label(class="custom-control-label") }}
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-sm-1">
            <div class="card">
                <div class="card-body">
                    <p>{{ form.starter.label(class="col-form-label") }}:
                        {{ form.starter(class="custom-select") }}</p>

                    <p>{{ form.in_mode.label(class="col-form-label") }}:
                        {{ form.in_mode(class="custom-select") }}</p>

                    <p>{{ form.out_mode.label(class="col-form-label") }}:
                        {{ form.out_mode(class="custom-select") }}</p>


                    <p>
                        {{ form.score_input_delay.label(class="col-form-label") }}:
                        {{ form.score_input_delay(class="custom-select") }}
                        <small>{{ _('Blocks score input after new score. In seconds.') }}</small>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6"></div>
    </div>
    <div class="row justify-content-center text-center">
        <div class="col-sm-3">{{ form.submit(class="btn btn-lg btn-info") }}</div>
    </div>
</form>


{% endblock %}

{% block scripts %}
<script type="text/javascript">
    function computercheck(that) {
        if (that.value == 'computer') {
            document.getElementById("levels").style.display = "block";
            document.getElementById("public_challenge_div").style.display = "none";
            document.getElementById("opponent_name").style.display = "none";
            document.getElementById("tournaments").style.display = "none";          
        } else if (that.value == 'online') {
            document.getElementById("levels").style.display = "none";
            document.getElementById("public_challenge_div").style.display = "block";
            document.getElementById("opponent_name").style.display = "block";    
            document.getElementById("tournaments").style.display = "block";        
        } else {
            document.getElementById("levels").style.display = "none";
            document.getElementById("public_challenge_div").style.display = "none";
            document.getElementById("opponent_name").style.display = "none";
            document.getElementById("tournaments").style.display = "none";
        }
    }
</script>
{% endblock %}