<!-- GAME SHOT OVERLAY -->
<div class="modal fade game-shot-modal" id="game-shot-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <h2 class="text-center">Game Shot</h2>
        </div>
    </div>
</div>

<!-- MATCH SHOT OVERLAY -->
<div class="modal fade match-shot-modal" id="match-shot-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <h2 class="text-center">Game Shot and the match</h2>
        </div>
    </div>
</div>


<!-- ABORT GAME MODAL -->
<div class="modal fade abort-game-modal" id="abort-game-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <h3 class="text-center">{{ _('Abort game?') }}</h3>
            <button type="button" class="btn btn-success" data-dismiss="modal" id="abort-confirm">{{ _('Confirm') }}</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" id="abort-cancel">{{ _('Cancel') }}</button>
        </div>
    </div>
</div>