<!-- PLAYERS AND SCORES-->
<div class="row justify-content-center align-items-center text-light">
    <!-- PLAYER 1 NAME AND SCORE -->
    <div class="col-lg-5 col-md-6 d-none d-md-block">
        <div class="card text-center bg-dark player_turn p1_turn_outer_card" id="p1_turn_outer_card">
            <div class="card-body outer-scoreboard-body">
                <div class="card bg-secondary text-center mb-1 p1_turn_name_card" id="p1_turn_name_card">
                    <div class="card-body scoreboard-name-body">
                        <h3>{{ game.player1_name }}</h3>
                    </div>
                </div>

                <div class="card bg-danger text-center p1_turn_score_card" id="p1_turn_score_card">
                    <div class="card-body scoreboard-score-body">
                        <h1 id="p1_score" class="card-text p1_score" style="font-weight: bold">-</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- TOP LEG AND SET COUNTER -->
    <div class="col-lg-2 text-center bg-dark d-none d-lg-block" style="padding-left: 0px; padding-right: 0px;">
        <div class="row text-danger">
            <div class="col-6">
                <h3 id="p1_ingame"><i class="fas fa-plug"></i></h3>
            </div>
            <div class="col-6">
                <h3 id="p2_ingame"><i class="fas fa-plug"></i></h3>
            </div>
        </div>

        <div class="row mb-3">
            {% if game.fixed_legs %}
            <div class="col">Total of {{ game.fixed_legs_amount }} Legs</div>
            {% else %}
            {% if game.bo_sets == 1 %}
            <div class="col">Best of {{ game.bo_legs }} Legs</div>
            {% else %}
            <div class="col">Best of {{ game.bo_sets }} Sets</div>
            {% endif %}
            {% endif %}
        </div>
        <div class="card bg-info">
            <div class="card-body" style="padding-top: 10px; padding-bottom: 10px;">
                {% if game.bo_sets > 1 %}
                <div class="row align-items-center mb-3">
                    <div class="col-sm-3">
                        <h4 class="card-text p1_sets" style="font-weight:bold"></h4>
                    </div>
                    <div class="col-sm-6">Sets</div>
                    <div class="col-sm-3">
                        <h4 class="card-text p2_sets" style="font-weight:bold"></h4>
                    </div>
                </div>
                {% endif %}
                <div class="row align-items-center">
                    <div class="col-sm-3">
                        <h4 class="card-text p1_legs" style="font-weight:bold"></h4>
                    </div>
                    <div class="col-sm-6">Legs</div>
                    <div class="col-sm-3">
                        <h4 class="card-text p2_legs" style="font-weight:bold"></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- PLAYER 2 NAME AND SCORE -->
    <div class="col-lg-5 col-md-6 d-none d-md-block">
        <div class="card text-center bg-dark player_turn p2_turn_outer_card" id="p2_turn_outer_card">
            <div class="card-body outer-scoreboard-body">
                <div class="card bg-secondary text-center text-light mb-1 p2_turn_name_card" id="p2_turn_name_card">
                    <div class="card-body scoreboard-name-body">
                        <h3>{{ game.player2_name }}</h3>
                    </div>
                </div>
                <div class="card bg-danger text-center p2_turn_score_card" id="p2_turn_score_card">
                    <div class="card-body scoreboard-score-body">
                        <h1 id="p2_score" class="card-text p2_score" style="font-weight: bold">-</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- PLAYER 1 NAME AND SCORE SMALL -->
    <div class="col-6 d-md-none">
        <div class="card text-center bg-dark mb-1 p1_turn_name_card" id="p1_turn_name_card_small">
            <div class="card-body name_card_body_small">
                <h3>{{ game.player1_name }}</h3>
            </div>
        </div>

        <div class="card text-center p1_turn_score_card" id="p1_turn_score_card_small">
            <div class="card-body score_card_body_small">
                <h2 id="p1_score_small" class="card-text p1_score" style="font-weight: bold"></h2>
            </div>
        </div>
    </div>

    <!-- PLAYER 2 NAME AND SCORE SMALL -->
    <div class="col-6 d-md-none">
        <div class="card text-center bg-dark mb-1 p2_turn_name_card" id="p2_turn_name_card_small">
            <div class="card-body name_card_body_small">
                <h3>{{ game.player2_name }}</h3>
            </div>
        </div>

        <div class="card text-center p2_turn_score_card" id="p2_turn_score_card_small">
            <div class="card-body score_card_body_small">
                <h2 id="p2_score_small" class="card-text p2_score" style="font-weight: bold"></h2>
            </div>
        </div>
    </div>
</div>