{% extends "base.html" %}
{% block title %}X01{% endblock %}


{% block app_content %}

<div class="row justify-content-center align-items-center">
    <div class="col-sm-4 text-center">
        <p>Waiting for player 2...</p>
        {% if not current_user.is_authenticated %}<p>You are not logged in. Log in to play in this game.</p>{% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<meta id="my-data" data-hashid="{{ game.hashid }}">
<meta id="user_id" data-id="{{ current_user.id }}">

<script type="text/javascript" src="/static/js/x01_waiting.js"></script>
{% endblock %}