{% extends "base.html" %}
{% block title %}X01{% endblock %}

{% block head %}
<meta id="my-data" data-hashid="{{ game.hashid }}">
<meta id="validation_url" data-url="{{ url_for('game.validate_score') }}">

<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
{% if current_user.id == game.player1 or current_user.id == game.player2 %}
<script type="text/javascript" src="/static/js/x01_socket.js"></script>
{% else %}
<script type="text/javascript" src="/static/js/x01_spectator_socket.js"></script>
{% endif %}
{% endblock %}

{% block app_content %}

<div class="row justify-content-center align-items-center">
    <div class="col-sm-3 text-center">
        <h5>{{ game.player1_name }}</h5>
    </div>
    <div class="col-sm-3 text-center">
        <h5>{{ game.player2_name }}</h5>
    </div>
</div>
<div class="row justify-content-center align-items-center">
    <div class="col-sm-3 text-center">
        <p>Sets: <span id="p1_sets"></span> Legs: <span id="p1_legs"></span></p>
    </div>
    <div class="col-sm-3 text-center">
        <p>Sets: <span id="p2_sets"></span> Legs: <span id="p2_legs"></span></p>
    </div>
</div>
<div class="row justify-content-center align-items-center">
    <div class="col-sm-3">
        <div class="card text-center text-white bg-info">
            <div class="card-body">
                <h5 id="p1_score" class="card-text"></h5>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-center text-white bg-info">
            <div class="card-body">
                <h5 id="p2_score" class="card-text"></h5>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center align-items-center">
    <div class="col-sm-4">
        <form class="text-center" id="score_input" method="POST" action="" autocomplete="off" {% if game.completed or not (current_user.id == game.player1 or current_user.id == game.player2) %} style="display: none" {% endif %}>
            {{ form.hidden_tag() }}
            {{ form.score_value(size=4, class="text-center") }}
            <p class="text-center">{{ form.submit() }}</p>
            <p class="text-center" id="score_error" style="color: red;"></p>
        </form>
        <form class="text-center" id="confirm_completion" method="POST" action="" {% if not game.completed %} style="display: none" {% endif %}>
            <p>Game is completed.</p>
        </form>
    </div>
</div>




{% endblock %}