{% extends "base.html" %}
{% block title %}X01{% endblock %}


{% block app_content %}

<div class="row justify-content-center align-items-center">
    <div class="col-sm-4 text-center">
        <h1>Winner: {% if game.p1_sets > game.p2_sets %}{{ game.player1_name }} {% else %} {{ game.player2_name }}{% endif %}</h1>
    </div>
</div>
<div class="row justify-content-center align-items-center">
    <div class="col-sm-3 text-center {% if game.p1_sets > game.p2_sets %}bg-success{% else %}bg-danger{% endif %}">
        <h5>{{ game.player1_name }}</h5>
    </div>
    <div class="col-sm-3 text-center {% if game.p1_sets < game.p2_sets %}bg-success{% else %}bg-danger{% endif %}">
        <h5>{{ game.player2_name }}</h5>
    </div>
</div>
<div class="row justify-content-center align-items-center">
    <div class="col-sm-3 text-center">
        <p>Sets: <span id="p1_sets">{{ game.p1_sets }}</span> Legs: <span id="p1_legs">{{ game.p1_legs }}</span></p>
    </div>
    <div class="col-sm-3 text-center">
        <p>Sets: <span id="p2_sets">{{ game.p2_sets }}</span> Legs: <span id="p2_legs">{{ game.p1_legs }}</span></p>
    </div>
</div>
<div class="row justify-content-center align-items-center">
    <div class="col-sm-3">
        <div class="card text-center text-white bg-info">
            <div class="card-body">
                <h5 id="p1_score" class="card-text">{{ game.p1_score }}</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-center text-white bg-info">
            <div class="card-body">
                <h5 id="p2_score" class="card-text">{{ game.p2_score }}</h5>
            </div>
        </div>
    </div>
</div>



{% endblock %}