{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/jquery.powertip.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/chat.css', version=config.VERSION) }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/tournament_bracket.css', version=config.VERSION) }}" />
{% endblock %}

{% block container %}
<div class="container-fluid">
{% endblock %}

{% block app_content %}
<div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-10 col-lg-4 col-xl-3 p-1 order-3 order-lg-1">
        <div class="card bg-light text-dark d-block" style="height: 37.5vh; overflow-y: scroll;"  id="new-games-window">
            <div class="card-body">
                <p class="text-center font-weight-bold slim">{{ _('Tournament details') }}</p>
                <hr class="slim">
                <p class="card-text font-weight-bold slim">{{ tournament.name }}</p>
                {% if (not tournament.status or tournament.status == 'registration') %}
                <button type="button" id="tournament-membership-button" class="btn mt-2 {% if in_tournament %}in-tournament{% endif %}{% if tournament in current_user.tournaments_applications %}applied{% endif %}{% if in_tournament or tournament in current_user.tournaments_applications %} btn-danger{% elif not tournament.registration_open %}d-none{% else %}btn-success{% endif %} {% if tournament.registration_apply %}apply{% endif %}" autocomplete="off">
                     {% if in_tournament %}{{ _('Leave Tournament') }}
                     {% elif tournament.registration_apply and tournament not in current_user.tournaments_applications %}{{ _('Apply for tournament') }}
                     {% elif tournament.registration_apply and tournament in current_user.tournaments_applications %}{{ _('Cancel application') }}
                     {% else %}{{ _('Join Tournament') }}{% endif %}           
                </button>
                {% endif %}

                {% if tournament.managed_externally %}
                <a href="{{ url_for('game.create', tournament_hashid=tournament.hashid) }}" id="createTournamentGame" {% if not in_tournament %}style="display: None">{% endif %}
                    <button type="button" class="btn mt-2 btn-info" autocomplete="off">
                        {{ _('Create tournament game') }}
                    </button>
                </a>
                {% elif tournament.status == 'started' %}
                <button type="button" class="btn mt-2 btn-info" id="startNextGameButton" autocomplete="off">
                    {{ _('Start next game') }}
                </button>
                <button type="button" class="btn mt-2 btn-secondary d-none" id="waitingForOpponentButton" autocomplete="off">
                    <i class="fas fa-spinner fa-spin"></i> {{ _('Waiting for opponent') }} 
                </button>
                {% endif %}
                
                {% if current_user.id == tournament.creator %}
                <p><a href="{{ url_for('tournament.stream', hashid=tournament.hashid) }}">{{ _('Stream tournament games') }}</a></p>
                {% endif %}

                {% if tournament.description %}
                    <p class="card-text slim">{{ tournament.description }}</p>
                {% endif %}     
                <p class="card-text slim">{{ _('Creator') }}: <a href="{{ url_for('profile.overview', username=creator_name) }}">{{ creator_name }}</a></p>
                <p class="card-text slim"><a href="{{ url_for('generic.live_games_overview', tournament_hashid=tournament.hashid) }}">{{ _('Watch live games') }}</a></p>
                {% if tournament.external_url %}
                    <p class="card-text slim">{{ _('URL') }}: <a href="{% if tournament.external_url[:4] != 'http' %}//{% endif %}{{ tournament.external_url }}" target="_blank">{{ tournament.external_url }}</a></p>
                {% endif %}
                {% if tournament.start_date %}
                    <p class="card-text slim">{{ _('Start') }}: {{ tournament.start_date }}</p>
                {% endif %}
                {% if current_user.id == tournament.creator %}
                <p class="card-text slim"><a href="{{ url_for('tournament.settings', hashid=tournament.hashid) }}">{{ _('Manage tournament') }}</a></p>
                {% endif %}

            </div>
        </div>

        <div class="card bg-light text-dark mt-1 d-block" style="height: 37.5vh; overflow-y: scroll;"  id="latest-results-window">
            <div class="card-body" id="chatbox">
                {% for message, username, average, country in messages[::-1] %}
                <p>
                    {% if country %}<img src="/static/img/flags/{{ country | lower }}.png" style="margin-right: 5px" class="
                    {% if country != 'lidarts' -%}country-flag{% endif -%}">{% endif %}<strong><a href="{{ url_for('profile.overview', username=username | replace('%40', '@')) }}" class="text-dark">{{ username }}</a></strong>
                    <small class="text-secondary"> {{ moment(message.timestamp).format('HH:mm:ss') }} - Avg.: {{ average }}</small><br>
                {{ message.message|safe }}
                </p>
                <hr>
                {% endfor %}
            </div>    
        </div>
        <form id="message_input" method="POST" action="">
            {{ form.hidden_tag() }}
            {{ form.message(class="form-control", autocomplete="off", maxlength="500") }}
            {{ form.submit }}
        </form>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-8 col-xl-9 p-1 order-first order-lg-2">
        <div class="brackets">
            <div class="bracket upper-bracket">
            {% for round_ in tournament.stages[0].rounds %}
            {% set outer_loop = loop %}
                {% if round_.name_[:2] != 'lb' %}
                <div class="round text-center">
                {% for tournament_game in round_.games %}
                {% set game = tournament_game.game %}
                    <a href="{% if game.player1 and game.player2 %}{{ url_for('game.start', hashid=game.hashid) }}{% endif %}" class="match match-url {% if not tournament_game.tournament_stage_game_bracket_id %}match-bye{% endif %} {% if outer_loop.nextitem and (round_.games|length == outer_loop.nextitem.games|length or outer_loop.nextitem.name_[:2] == 'lb') %}match-single{% else %}match-bracket{% endif %} text-left">
                        <div class="match-details">
                            <div class="match-bracket-id text-center">
                                <div>
                                    {{ tournament_game.tournament_stage_game_bracket_id }}
                                </div>
                            </div>
                            <div class="match-players">
                                <div class="match-player match-player-1 {% if game.player1 == current_user.id %}match-you{% endif %}">
                                    <div class="match-player-name align-self-center {% if game.player1 == current_user.id %}username-you{% endif %}">
                                    {% if game.player1 %}                                    
                                        {{usernames[game.player1] }}
                                    {% endif %}
                                    </div>

                                    {% if game and game.player1 and game.player2 %}
                                    <div class="match-score">
                                        {% if game.bo_sets > 1 %}
                                        <div class="match-sets align-self-center">
                                            {% if game.player1 %}
                                                {{ game.p1_legs }}
                                            {% endif %}
                                        </div>
                                        {% endif %}

                                        <div class="match-legs text-center align-self-center">
                                            {% if game.player1 %}
                                                {{ game.p1_legs }}
                                            {% endif %}
                                        </div>

                                        {% if game.status != 'completed' %}
                                        <div class="match-leg-score text-center align-self-center">
                                            {% if game.player1 %}
                                                {{ game.p1_score }}
                                            {% endif %}
                                        </div>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                </div>
                        
                                <div class="match-seperator"></div>

                                <div class="match-player match-player-2">
                                    <div class="match-player-name align-self-center">                            
                                        {% if game.player2 %}
                                            {{ usernames[game.player2] }}                            
                                        {% elif round_.name_ == 'gf1' %}
                                        <span class="font-italic">
                                            {{ _('Winner of Lower Bracket') }}
                                        </span> 
                                        {% endif %}
                                    </div>
        
                                    {% if game and game.player1 and game.player2 %}
                                    <div class="match-score">
                                        {% if game.bo_sets > 1 %}
                                        <div class="match-sets align-self-center">
                                            {% if game.player1 %}
                                                {{ game.p1_legs }}
                                            {% endif %}
                                        </div>
                                        {% endif %}

                                        <div class="match-legs text-center align-self-center">
                                            {% if game.player1 %}
                                                {{ game.p1_legs }}
                                            {% endif %}
                                        </div>

                                        {% if game.status != 'completed' %}
                                        <div class="match-leg-score text-center align-self-center">
                                            {% if game.player1 %}
                                                {{ game.p1_score }}
                                            {% endif %}
                                        </div>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
            </div>

            <hr>

            <div class="bracket lower-bracket">
                {% for round_ in tournament.stages[0].rounds %}
                {% set outer_loop = loop %}
                    {% if round_.name_[:2] == 'lb' %}
                    <div class="round">
                    {% for tournament_game in round_.games %}
                    {% set game = tournament_game.game %}
                    <div class="text-left match {% if not tournament_game.tournament_stage_game_bracket_id %}match-bye{% endif %} {% if outer_loop.nextitem and (round_.games|length == outer_loop.nextitem.games|length or (round_.name_[:2] != 'lb' and outer_loop.nextitem.name_[:2] == 'lb')) %}match-single{% else %}match-bracket{% endif %}">
                        <div class="match-details">
                            <div class="match-bracket-id text-center">
                                <div>
                                    {{ tournament_game.tournament_stage_game_bracket_id }}
                                </div>
                            </div>
                            <div class="match-players">
                                <div class="match-player match-player-1">
                                    <div class="match-player-name">
                                    {% if game.player1 %}
                                        <span class="{% if game.player1 == current_user.id %}username-you{% endif %}">
                                            {{usernames[game.player1] }}
                                        </span>
                                    {% elif tournament_game.p1_loser_from %}
                                    <span class="font-italic">
                                        {{ _('Loser of') }} {{ tournament_game.p1_loser_from[0].tournament_stage_game_bracket_id }}
                                    </span>
                                    {% endif %}
                                    </div>

                                    {% if game and game.player1 and game.player2 %}
                                    <div class="match-score">
                                        {% if game.bo_sets > 1 %}
                                        <div class="match-sets">
                                            {% if game.player1 %}
                                                {{ game.p1_legs }}
                                            {% endif %}
                                        </div>
                                        {% endif %}
                                        <div class="match-legs">
                                            {% if game.player1 %}
                                                {{ game.p1_legs }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="match-seperator"></div>
                                <div class="match-player match-player-2">
                                    {% if game.player2 %}
                                        {{ usernames[game.player2] }}                            
                                    {% elif round_.name_ == 'gf1' %}
                                        {{ _('Winner of Lower Bracket') }}
                                    {% elif tournament_game.p2_loser_from %}
                                        <span class="font-italic">
                                            {{ _('Loser of') }} {{ tournament_game.p2_loser_from[0].tournament_stage_game_bracket_id }}   
                                        </span>                                
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<meta id="validation_url" data-url="{{ url_for('generic.validate_chat_message') }}">
<meta id="profile_url" data-url="{{ url_for('profile.overview') | replace('%40', '@') }}">
<meta id="game_url" data-url="{{ url_for('game.start') }}">
<meta id="create_url" data-url="{{ url_for('game.create') }}">
<meta id="private_messages_url" data-url="{{ url_for('generic.private_messages') }}">
<meta id="send_request_url" data-url="{{ url_for('generic.send_friend_request') }}">
<meta id="user_id" data-id="{{ current_user.id }}">
<meta id="user_name" data-username="{{ current_user.username }}">
<meta id="tournament_hashid" data-hashid="{{ request.path.split('/')[2] }}">
<meta id="show_average_in_chat_list" data-bool="{{ show_average_in_chat_list }}">
<meta id="countryData" data-country="{{ country }}">


<script src="{{ url_for('static', filename='js/jquery.powertip.min.js', crossorigin='anonymous') }}"></script>


<script type="text/javascript" src="{{ url_for('static',filename='js/tournament/tournament_socket.js', version=config.VERSION) }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/tournament/bracket.js', version=config.VERSION) }}"></script>
{% endblock %}