{% extends "base.html" %}
{% from "utils.html" import render_error %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/chat.css', version=config.VERSION) }}" />
{% endblock %}

{% block app_content %}


<div class="row justify-content-center mt-2 mt-md-4">
    <div class="col-12 col-md-6">
        <div class="card bg-light text-dark bs-callout bs-callout-info ">
            <div class="card-body text-center">
                <h5 class="card-title text-center">{{ _('Edit tournament settings') }}</h5>
                <hr>
                <p class="card-text">
                    <form method="POST" class="form-horizontal">
                        {{ form.hidden_tag() }}
                        <p>
                            {{ form.name.label(class="control-label") }}:
                            {{ form.name(class="form-control", autocomplete="off", maxlength="50") }}
                            {{ render_error(form.name) }}
                        </p>

                        <p>
                            {{ form.description.label(class="control-label") }}:
                            {{ form.description(class="form-control", autocomplete="off", maxlength="1000") }}
                            {{ render_error(form.description) }}
                        </p>

                        {% if not tournament.status or tournament.status == 'registration' %}
                        <p>
                          <div class="custom-control custom-checkbox">
                              {{ form.automatic_management(class="custom-control-input") }}
                              {{ form.automatic_management.label(class="custom-control-label") }}
                          </div>
                          {{ render_error(form.automatic_management) }}
                        </p>
                        {% endif %}

                        <p>
                            <div class="custom-control custom-checkbox" id="public-checkbox">
                                {{ form.public_tournament(class="custom-control-input") }}
                                {{ form.public_tournament.label(class="custom-control-label") }}
                            </div>
                            <small>({{ _('Tournament will appear in the upcoming tournaments list') }})</small>
                            {{ render_error(form.public_tournament) }}
                        </p>

                        <p>
                            <div class="custom-control custom-checkbox" id="registration-open-checkbox">
                                {{ form.registration_open(class="custom-control-input") }}
                                {{ form.registration_open.label(class="custom-control-label") }}
                            </div>
                            <small>({{ _('If unchecked players must be invited by the tournament administrator.') }})</small>
                            {{ render_error(form.registration_open) }}
                        </p>

                        <p>
                          <div class="custom-control custom-checkbox">
                              {{ form.registration_apply(class="custom-control-input") }}
                              {{ form.registration_apply.label(class="custom-control-label") }}
                          </div>
                          {{ render_error(form.registration_apply) }}
                       </p>


                        <p class="visible-public-only">
                            {{ form.external_url.label(class="control-label") }}:
                            {{ form.external_url(class="form-control", autocomplete="off", maxlength="120") }}
                            <small>({{ _('Link to tournament website with more information') }})</small>
                            {{ render_error(form.external_url) }}
                        </p>

                        <p class="visible-public-only">
                            {{ _('Start date and time:') }} <br>
                            {{ form.start_date(class='datepicker') }} {{ form.start_time(class='time', required=False) }}
                            {{ render_error(form.start_date) }}
                            {{ render_error(form.start_time) }}
                        </p>

                        <p class="mt-4">
                            {{ form.submit_save(class="btn btn-lg btn-info") }}
                        </p>

                        <p><a href="{{ url_for('tournament.details', hashid=tournament.hashid) }}">{{ _('Back to tournament') }}</a></p>
                    </form>
    
                </p>
                
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="card bg-light text-dark bs-callout bs-callout-warning ">
            <div class="card-body text-center">
                <h5 class="card-title text-center">{{ _('Manage player list') }}</h5>
                <hr>
                <div class="col-12">
                    <div class="card bg-light text-dark text-left">
                        <div class="card-body" style="height: 600px; overflow-y: scroll; padding-left: 2px; padding-right: 2px;">
                          <div id="applications">
                            {% if tournament.applications %}
                            {{ _('Applications') }}:
                            {% for player in tournament.applications %}
                            <p id="player-{{player.id}}">
                              <span class="btn-group btn-group-sm text-right" role="group">
                                <button class="btn btn-success button-accept-player" id="button-accept-player-{{player.id}}" role="button"><i class="fas fa-check-circle"></i></button>
                                <button class="btn btn-danger button-decline-player" id="button-decline-player-{{player.id}}" role="button"><i class="fas fa-times-circle"></i></button>
                            </span>
                              <a href="{{ url_for('profile.overview', username=player.username) }}">{{ player.username }}</a>
                            </p>
                            {% endfor %}
                            {% endif %}
                          </div>

                          <div id="online_players"></div>

                          {% if tournament.invitations %}
                          {{ _('Invitations') }}:
                          {% for player in tournament.invitations %}
                            <p id="invitation-player-{{player.username}}">
                              <span class="btn-group btn-group-sm text-right" role="group">
                                <button class="btn btn-danger button-cancel-invitation" id="button-cancel-invitation-{{player.username}}" role="button"><i class="fas fa-times-circle"></i></button>
                            </span>
                              <a href="{{ url_for('profile.overview', username=player.username) }}">{{ player.username }}</a>
                            </p>
                          {% endfor %}
                          {% endif %}
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="row mt-2">
  <div class="col-12 col-md-6">
      <div class="card bg-light text-dark bs-callout bs-callout-warning ">
          <div class="card-body text-center">
              <h5 class="card-title text-center">{{ _('Banned players') }}</h5>
              <hr>
                      {% for player in tournament.banned_players %}
                          <p class="text-left" id="unban-{{ player.id }}">
                              <button class="btn btn-success" id="unbanPlayer-{{ player.id }}" data-toggle="modal" data-target="#unbanModal" data-userid="{{ player.id }}" data-username="{{ player.username }}">
                                  {{ _('Unban') }}
                              </button> 
                              {{ player.username }}
                          </p>
                      {% endfor %}
              
          </div>
      </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="card bg-light text-dark bs-callout bs-callout-danger ">
        <div class="card-body text-center">
            <h5 class="card-title text-center">{{ _('Invite player') }}</h5>
            <hr>
            <p class="text-left">             
            <input type="text" class="form-control" id="inviteUsername" aria-describedby="inviteUsername" placeholder="{{ _('Username') }}">
            <button class="btn btn-info mt-1" id="inviteConfirm">
              {{ _('Invite') }}
          </button> 
          </p>
            
        </div>
    </div>
</div>
</div>



<div class="modal fade" id="kickModal" tabindex="-1" role="dialog" aria-labelledby="kickModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ _('Kick player') }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">{{ _('Do you want to kick ') }}<span id="kickPlayerName"></span>? {{ _('The player will be able to join the tournament again.') }}
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Close') }}</button>
          <button type="button" class="btn btn-primary" id="kickPlayerButton" data-dismiss="modal">{{ _('Kick') }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="banModal" tabindex="-1" role="dialog" aria-labelledby="banModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ _('Ban player') }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">{{ _('Do you want to ban ') }}<span id="banPlayerName"></span>? {{ _('The player will NOT be able to join the tournament again.') }}
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Close') }}</button>
          <button type="button" class="btn btn-primary" id="banPlayerButton" data-dismiss="modal">{{ _('Ban') }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="unbanModal" tabindex="-1" role="dialog" aria-labelledby="unbanModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ _('Unban player') }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">{{ _('Do you want to unban ') }}<span id="unbanPlayerName"></span>? {{ _('The player will be able to join the tournament again.') }}
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Close') }}</button>
          <button type="button" class="btn btn-primary" id="unbanPlayerButton" data-dismiss="modal">{{ _('Unban') }}</button>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}


{% block scripts %}
<meta id="profile_url" data-url="{{ url_for('profile.overview') | replace('%40', '@') }}">
<meta id="tournament_hashid" data-hashid="{{ request.path.split('/')[2] }}">
<meta id="show_average_in_chat_list" data-bool="{{ show_average_in_chat_list }}">

<script type="text/javascript" src="{{ url_for('static',filename='js/tournament/overview.js', version=config.VERSION) }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/tournament/settings.js', version=config.VERSION) }}"></script>
{% endblock %}