{% extends "base.html" %}

{% block app_content %}
<h1>X01 Statistics</h1>

  <div class="card ">
    <div class="card-header"> 
      <ul class="nav nav-tabs card-header-tabs pull-right"  id="myTab" role="tablist">
        <li class="nav-item">
         <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Overall</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Today</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Current Week</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Current Month</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Current Year</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" id="graphics-tab" data-toggle="tab" href="#graphics" role="tab" aria-controls="graphics" aria-selected="false">Custom</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="graphics-tab" data-toggle="tab" href="#graphics" role="tab" aria-controls="graphics" aria-selected="false">Graphics</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="card bg-light text-dark bs-callout bs-callout-danger">
                            <div class="card-body">
                                <h5>{{ _('Today') }}</h5>                
                                <hr>
                                <p>{{ _('Number of games:') }} {{ stats['today']['number_of_games'] }}</p>
                                <p>{{ _('Darts thrown:') }} {{ stats['today']['darts_thrown'] }}</p>
                                <p>Average: {{ stats['today']['average']|round(2) }}</p>
                                <p>First 9: {{ stats['today']['first9_average']|round(2) }}</p>
                                <p>Doubles: {{ stats['today']['doubles']|round(2) }}%</p>                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-light text-dark bs-callout bs-callout-warning">
                            <div class="card-body">
                                <h5>{{ _('Current Week') }}</h5>                
                                <hr>
                                <p>{{ _('Number of games:') }} {{ stats['currentweek']['number_of_games'] }}</p>
                                <p>{{ _('Darts thrown:') }} {{ stats['currentweek']['darts_thrown'] }}</p>
                                <p>Average: {{ stats['currentweek']['average']|round(2) }}</p>
                                <p>First 9: {{ stats['currentweek']['first9_average']|round(2) }}</p>
                                <p>Doubles: {{ stats['currentweek']['doubles']|round(2) }}%</p>                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-light text-dark bs-callout bs-callout-info">
                            <div class="card-body">
                                <h5>{{ _('Current Month') }}</h5>                
                                <hr>
                                <p>{{ _('Number of games:') }} {{ stats['currentmonth']['number_of_games'] }}</p>
                                <p>{{ _('Darts thrown:') }} {{ stats['currentmonth']['darts_thrown'] }}</p>
                                <p>Average: {{ stats['currentmonth']['average']|round(2) }}</p>
                                <p>First 9: {{ stats['currentmonth']['first9_average']|round(2) }}</p>
                                <p>Doubles: {{ stats['currentmonth']['doubles']|round(2) }}%</p>                
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card bg-light text-dark bs-callout bs-callout-success">
                            <div class="card-body">
                                <h5>{{ _('Current Year') }}</h5>                
                                <hr>
                                <p>{{ _('Number of games:') }} {{ stats['currentyear']['number_of_games'] }}</p>
                                <p>{{ _('Darts thrown:') }} {{ stats['currentyear']['darts_thrown'] }}</p>
                                <p>Average: {{ stats['currentyear']['average']|round(2) }}</p>
                                <p>First 9: {{ stats['currentyear']['first9_average']|round(2) }}</p>
                                <p>Doubles: {{ stats['currentyear']['doubles']|round(2) }}%</p>                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-light text-dark bs-callout bs-callout-primary">
                            <div class="card-body">
                                <h5 class="card-title">{{ _('Overall') }}</h5>                
                                <hr>
                                <p>{{ _('Number of games:') }} {{ stats['overall']['number_of_games'] }}</p>
                                <p>{{ _('Darts thrown:') }} {{ stats['overall']['darts_thrown'] }}</p>
                                <p>Average: {{ stats['overall']['average']|round(2) }}</p>
                                <p>First 9: {{ stats['overall']['first9_average']|round(2) }}</p>
                                <p>Doubles: {{ stats['overall']['doubles']|round(2) }}%</p>                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>

            <div class="tab-pane fade" id="graphics" role="tabpanel" aria-labeledby="graphics-tab">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="card bg-light text-dark bs-callout bs-callout-success">
                            <div class="card-body">
                                <h5>{{ _('Average per Game') }}</h5>
                                <canvas id="myChart" width="400" height="150"></canvas>
                                <script type="text/javascript" src="/static/js/chart.min.js"></script>
                                <script type="text/javascript">
                                    var ctx = document.getElementById('myChart').getContext('2d');
                                    var labels = [{% for i in range(stats['averagepergame']|length) %}
                                                        "{{i + 1}}",
                                                     {% endfor %}];
                
                                    var data = [{% for item in (stats['averagepergame']) %}
                                                        "{{item}}",
                                                     {% endfor %}];
                                    var myChart = new Chart(ctx, {
                                        type: 'line',
                                        data: {
                                            labels : labels,
                                            datasets: [{
                                                data: data,
                                                fill: false,
                                                label: "average",
                                                borderColor: [
                                                    'rgba(255, 99, 132, 1)',
                                                ],
                                                borderWidth: 1
                                            }]
                                        },
                                        options: {
                                            scales: {
                                                yAxes: [{
                                                    ticks: {
                                                        beginAtZero: true
                                                    }
                                                }],
                                                xAxes: [{
                                                    ticks: {
                                                        autoSkip: true,
                                                        maxTicksLimit: 20
                                                    }
                                                }]
                                            }
                                        }
                                    });                
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <br> 
<!--
<div class="container">
    <div class="row">
        <div id="filter-panel" class="collapse filter-panel">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="filter-col" style="margin-right:0;" for="pref-perpage">Rows per page:</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#filter-panel">
    <span class="glyphicon glyphicon-cog"></span> {{ _('Filter')}}
</button>    
<br>
<br>
-->

{% endblock %}

{% block scripts %}
{% endblock %}