<div class="row">
    <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="card bg-light text-dark bs-callout {{ card_color }}">
            <div class="card-header">
                <h5>{{ _('General') }}</h5>
            </div>
            <div class="card-body">
                <p>{{ _('Number of games') }} <span class="float-right">{{ currentstats.number_of_games }}</span></p>
                <p>{{ _('Games Won') }} <span class="float-right">{{ currentstats.games['record']['wins'] }} / {{ currentstats.games['percentages']['wins'] }}%<span></p>
                <p>{{ _('Games Lost') }} <span class="float-right">{{ currentstats.games['record']['losses'] }} / {{ currentstats.games['percentages']['losses'] }}%</span></p>
                <p>{{ _('Games Draw') }} <span class="float-right">{{ currentstats.games['record']['draws'] }} / {{ currentstats.games['percentages']['draws'] }}%</span></p>
                <p>{{ _('Number of Legs') }} <span class="float-right">{{ currentstats.number_of_legs }}</span></p>
                <p>{{ _('Legs Won') }} <span class="float-right">{{ currentstats.legs_won}} / {{ currentstats.legs_won_percent }}%</span></p>
                <p>{{ _('Legs Lost') }} <span class="float-right">{{ currentstats.legs_lost}} / {{ currentstats.legs_lost_percent }}%</span></p>
                <p>{{ _('Shortest Leg') }} <span class="float-right">{{ currentstats.shortest_leg }}</span></p>
                <p>{{ _('Darts thrown') }} <span class="float-right">{{ currentstats.darts_thrown }}</span></p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="card bg-light text-dark bs-callout {{ card_color }}">
            <div class="card-header">
                <h5>Scoring</h5>
            </div>
            <div class="card-body">
                <ul class="nav nav-pills card-header-pills mb-2" id="{{ date_range }}-scoreTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="{{ date_range }}-20s-tab" data-toggle="tab" href="#{{ date_range }}-20s" role="tab" aria-controls="{{ date_range }}-20s" aria-selected="true">20s</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="{{ date_range }}-19s-tab" data-toggle="tab" href="#{{ date_range }}-19s" role="tab" aria-controls="{{ date_range }}-19s" aria-selected="false">19s</a>
                    </li>
                  </ul>
                  <div class="tab-content" id="{{ date_range }}-scoreTabContent">
                    <div class="tab-pane fade show active" id="{{ date_range }}-20s" role="tabpanel" aria-labelledby="{{ date_range }}-20s-tab">
                        <p>180 <span class="float-right">{{ currentstats.scoring['ranges']['180']}} / {{ currentstats.scoring['percentages']['180'] }}%</span></p>
                        <p>140+<span class="float-right">{{ currentstats.scoring['ranges']['over_140']}} / {{ currentstats.scoring['percentages']['over_140']}}%</span></p>
                        <p>100+<span class="float-right">{{ currentstats.scoring['ranges']['over_100']}} / {{ currentstats.scoring['percentages']['over_100']}}%</span></p>
                        <p>80+<span class="float-right">{{ currentstats.scoring['ranges']['over_80']}} / {{ currentstats.scoring['percentages']['over_80']}}%</span></p>
                        <p>60+<san class="float-right">{{ currentstats.scoring['ranges']['over_60']}} / {{ currentstats.scoring['percentages']['over_60']}}%</span></p>
                        <p>40+<span class="float-right">{{ currentstats.scoring['ranges']['over_40']}} / {{ currentstats.scoring['percentages']['over_40']}}%</span></p>
                        <p>20+<span class="float-right">{{ currentstats.scoring['ranges']['over_20']}} / {{ currentstats.scoring['percentages']['over_20']}}%</span></p>
                        <p>&lt; 20<span class="float-right">{{ currentstats.scoring['ranges']['under_20']}} / {{ currentstats.scoring['percentages']['under_20']}}%</span></p>
                    </div>
                    <div class="tab-pane fade" id="{{ date_range }}-19s" role="tabpanel" aria-labelledby="{{ date_range }}-19s-tab">
                        <p>180 <span class="float-right">{{ currentstats.scoring['ranges']['180']}} / {{ currentstats.scoring['percentages']['180'] }}%</span></p>
                        <p>171+<span class="float-right">{{ currentstats.scoring['ranges']['over_171']}} / {{ currentstats.scoring['percentages']['over_171']}}%</span></p>
                        <p>131+<span class="float-right">{{ currentstats.scoring['ranges']['over_131']}} / {{ currentstats.scoring['percentages']['over_131']}}%</span></p>
                        <p>91+<span class="float-right">{{ currentstats.scoring['ranges']['over_91']}} / {{ currentstats.scoring['percentages']['over_91']}}%</span></p>
                        <p>57+<san class="float-right">{{ currentstats.scoring['ranges']['over_57']}} / {{ currentstats.scoring['percentages']['over_57']}}%</span></p>
                        <p>40+<span class="float-right">{{ currentstats.scoring['ranges']['over_40_19s']}} / {{ currentstats.scoring['percentages']['over_40_19s']}}%</span></p>
                        <p>20+<span class="float-right">{{ currentstats.scoring['ranges']['over_20']}} / {{ currentstats.scoring['percentages']['over_20']}}%</span></p>
                        <p>&lt; 20<span class="float-right">{{ currentstats.scoring['ranges']['under_20']}} / {{ currentstats.scoring['percentages']['under_20']}}%</span></p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="card bg-light text-dark bs-callout {{ card_color }}">
            <div class="card-header">
                <h5>Finish</h5>
            </div>
            <div class="card-body">
                <p>Doubles <span class="float-right">{{ currentstats.doubles|round(2) }}% ({{ currentstats.legs_won}} / {{ currentstats.double_thrown}})</span></p>
                <p>{{ _('Highest Finish') }}<pan class="float-right">{{currentstats.highest_finish}}</span></p>
                <p>Finish 141 - 170 <span class="float-right">{{ currentstats.finishing['ranges']['range_141_170'] }} / {{ currentstats.finishing['percentages']['range_141_170'] }}%</span></p>
                <p>Finish 121 - 140<span class="float-right">{{ currentstats.finishing['ranges']['range_121_140'] }} / {{ currentstats.finishing['percentages']['range_121_140']}}%</span></p>
                <p>Finish 101 - 120<span class="float-right">{{ currentstats.finishing['ranges']['range_101_120'] }} / {{ currentstats.finishing['percentages']['range_101_120']}}%</span></p>
                <p>Finish 81 - 100<span class="float-right">{{ currentstats.finishing['ranges']['range_81_100'] }} / {{ currentstats.finishing['percentages']['range_81_100']}}%</span></p>
                <p>Finish 41 - 80<span class="float-right">{{ currentstats.finishing['ranges']['range_41_80'] }} / {{ currentstats.finishing['percentages']['range_41_80']}}%</span></p>
                <p>Finish 2 - 40<span class="float-right">{{ currentstats.finishing['ranges']['range_2_40']}} / {{ currentstats.finishing['percentages']['range_2_40']}}%</span></p>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="card bg-light text-dark bs-callout {{ card_color }}">
            <div class="card-header">
                <h5>Average</h5>
            </div>
            <div class="card-body">
                <p>Average <span class="float-right">{{ currentstats.average|round(2) }}</span></p>
                <p>First 9 Average <span class="float-right">{{ currentstats.first['averages']['first9']|round(2) }}</span></p>
                <p>First 6 Average <span class="float-right">{{ currentstats.first['averages']['first6']|round(2) }}</span></p>
                <p>First 3 Average <span class="float-right">{{ currentstats.first['averages']['first3']|round(2) }}</span></p>
            </div>
        </div>
    </div>
</div>
