body {
  background: #e3e3e3;
  font-family: 'Open Sans', sans-serif !important;
}

body h1{
  font-family: 'Open Sans', sans-serif !important;
}

a.no-underline {
  text-decoration: none;
}

.jumbotron {
    background-color:#f4f4f4;
}

.div-inline{
    display:inline-block;
}

.bs-callout {
    border-top-width: 5px;
    border-radius: 5px;
}

.bs-callout-default {
    border-top-color: #777;
}
.bs-callout-primary {
    border-top-color: #428bca;
}
.bs-callout-success {
    border-top-color: #5cb85c;
}
.bs-callout-danger {
    border-top-color: #d9534f;
}
.bs-callout-warning {
    border-top-color: #f0ad4e;
}
.bs-callout-info {
    border-top-color: #5bc0de;
}

.no-margin{
    margin: 0px 0px 0px 0px;
}

.no-padding{
    padding: 0px 0px 0px 0px !important;
}

.player_name_card{
    padding-top: 2px;
    padding-bottom: 2px;
}

.player_name_card h1,
.player_name_card h2,
.player_name_card h3,
.player_name_card h4,
.player_name_card h5 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.td-leg-overview {
    padding-left: 0px !important;
    padding-right: 0px !important;
    min-width: 80px;
}

.leg-average {
    font-size: 10px;
    position: absolute;
    bottom: -12px;
    left: 1px;
}

.dart-count {
    font-weight: bold;
}

.score-remain {
    font-size: 10px;
    position: absolute;
    bottom: -12px;
    right: 1px;
}

.bg-leg-win {
    background-color: #33aa44;
}

#powerTip{
    background-color: #f5f5f5 !important;
    border-style: solid;
    border-width: 1px;
    border-color: #999999;
    padding: 2px 2px 2px 2px !important;
}

#powerTip table {
    margin-bottom: 0px;
}

#powerTip td {
    border-style: none;
    border-color: #999999;
    padding: 2px 2px 2px 2px !important;
}

.match_card:hover {
    background: #eeeeee;
}

.status-online{
    color: #33dd33;
}

.status-lfg{
    color: #aa00aa;
}

.status-busy{
    color: #eeee00;
}

.status-playing{
    color: #5555ee;
}

.status-offline{
    color: #888888;
}

.avatar{
    border-radius: 50%;
}

.chat-partner:hover{
    background: #eeeeee;
}

.chat-partner-active{
    background: #cccccc;
}

.notification-badge{
   position: absolute;
    right: -5px;
    top: -5px;
    font-size: 12px;
}

.dropdown-toggle::after {
    display:none;
}

#notification-dropdown {
    padding: 0px 0px 0px 0px;
}

.dropdown-item {
    padding: 2px 2px 2px 2px;
}

.notification-seperator {
    margin: 5px 0px 5px 0px;
}


