<!-- STATISTICS -->
<div class="row fixed-bottom statistics">
    <div class="container">
        <div class="row justify-content-center text-light">
            <div class="col-lg-2 d-none d-lg-block bg-secondary">
                <table class="table table-sm stats-table">
                    <tr>
                        <td>Leg MPR:</td>
                        <td class="p1_leg_mpr font-weight-bold">{{ p1_leg_mpr }}</td>
                    </tr>
                    <tr>
                        <td>Match MPR:</td>
                        <td class="p1_match_mpr font-weight-bold">{{ p1_match_mpr }}</td>
                    </tr>
                </table>
            </div>            
            <div class="col-lg-2 d-none d-lg-block bg-secondary">
                <table class="table table-sm stats-table">
                    <tr>
                        <td>Leg MPR:</td>
                        <td class="p2_leg_mpr font-weight-bold">{{ p2_leg_mpr }}</td>
                    </tr>
                    <tr>
                        <td>Match MPR:</td>
                        <td class="p2_match_mpr font-weight-bold">{{ p2_match_mpr }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>