{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block app_content %}
<div class="row justify-content-center">
    <div class="col-sm-4">
        <h1>Sign In</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}
                {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
                {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
</div>




{% endblock %}