<nav class="navbar navbar-expand-xl sticky-top navbar-dark bg-dark">

    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <div class="row mb-2 text-secondary">
                <a href="{{ url_for('generic.index') }}" class="text-secondary"> {{ _('Leave game') }}</a>
                {% if current_user.id == game.player1 or current_user.id == game.player2 %}
                | <div id="abort-game" class="div-link">{{ _('Abort game') }}</div>
                | <div id="hide-keypad" class="div-link">{{ _('Toggle Keypad visibility') }}</div>
                | <div id="change-keypad" class="div-link">{{ _('Change keypad position') }}</div>
                {% endif %}
                | <div id="hide-statistics" class="div-link">{{ _('Toggle statistics') }}</div>
                {% if stream %}
                | <a href="{{ url_for('game.start', hashid=game.hashid) }}" class="text-secondary">{{ _('Normal theme') }}</a>
                {% else %}
                | <a href="{{ url_for('game.start', hashid=game.hashid, theme='stream') }}" class="text-secondary">{{ _('Streamoverlay') }}</a>
                {% endif %}
                | <div id="mute" class="div-link">{{ _('Mute caller') }}</div> <div id="unmute" style="display: none" class="div-link">{{ _('Unmute caller') }}</div>
                <div id="appleActivateSound" class="div-link" style="display: none">| {{ _('Activate Sound (Apple)') }}</div>
                {% if game.webcam and current_user.is_authenticated and current_user.webcam_settings and current_user.webcam_settings.mobile_follower_mode %}
                | <div id="summon-webcam" class="div-link">{{ _('Summon webcam') }}</div>
                {% endif %}

            </div>
        </div>
    </div>
</nav>