<!-- STATISTICS -->
<div class="row fixed-bottom statistics">
    <div class="container">
        <div class="row bg-secondary text-light">
            <div class="col-lg-2 d-none d-lg-block">
                <table class="table table-sm stats-table">
                    <tr>
                        <td>Leg Avg.</td>
                        <td class="p1_leg_avg font-weight-bold">{{ p1_leg_avg }}</td>
                    </tr>
                    <tr>
                        <td>Match Avg.</td>
                        <td class="p1_match_avg font-weight-bold">{{ p1_match_avg }}</td>
                    </tr>
                    <tr>
                        <td>First 9</td>
                        <td class="p1_first9_avg font-weight-bold">{{ p1_first9_avg }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-1 d-none d-lg-block">
                <table class="table table-sm stats-table">
                    <tr>
                        <td>100+</td>
                        <td class="p1_100 font-weight-bold">{{ p1_100 }}</td>
                    </tr>
                    <tr>
                        <td>140+</td>
                        <td class="p1_140 font-weight-bold">{{ p1_140 }}</td>
                    </tr>
                    <tr>
                        <td>180</td>
                        <td class="p1_180 font-weight-bold">{{ p1_180 }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-3 d-none d-lg-block">
                <table class="table table-sm stats-table">
                    <tr>
                        <td>Doubles</td>
                        <td class="p1_doubles font-weight-bold">{{ p1_doubles }}% ({{ p1_legs_won }}/{{ p1_darts_thrown_double }})</td>
                    </tr>
                    <tr>
                        <td>High Finish</td>
                        <td class="p1_high_finish font-weight-bold">{{ p1_high_finish }}</td>
                    </tr>
                    <tr>
                        <td>Short Leg</td>
                        <td class="p1_short_leg font-weight-bold">{{ p1_short_leg }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-2 d-none d-lg-block">
                <table class="table table-sm stats-table">
                    <tr>
                        <td>Leg Avg.</td>
                        <td class="p2_leg_avg font-weight-bold">{{ p2_leg_avg }}</td>
                    </tr>
                    <tr>
                        <td>Match Avg.</td>
                        <td class="p2_match_avg font-weight-bold">{{ p2_match_avg }}</td>
                    </tr>
                    <tr>
                        <td>First 9</td>
                        <td class="p2_first9_avg font-weight-bold">{{ p2_first9_avg }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-1 d-none d-lg-block">
                <table class="table table-sm stats-table">
                    <tr>
                        <td>100+</td>
                        <td class="p2_100 font-weight-bold">{{ p2_100 }}</td>
                    </tr>
                    <tr>
                        <td>140+</td>
                        <td class="p2_140 font-weight-bold">{{ p2_140 }}</td>
                    </tr>
                    <tr>
                        <td>180</td>
                        <td class="p2_180 font-weight-bold">{{ p2_180 }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-3 d-none d-lg-block">
                <table class="table table-sm stats-table">
                    <tr>
                        <td>Doubles</td>
                        <td class="p2_doubles font-weight-bold">{{ p2_doubles }}% ({{ p2_legs_won }}/{{ p2_darts_thrown_double }})</td>
                    </tr>
                    <tr>
                        <td>High Finish</td>
                        <td class="p2_high_finish font-weight-bold">{{ p2_high_finish }}</td>
                    </tr>
                    <tr>
                        <td>Short Leg</td>
                        <td class="p2_short_leg font-weight-bold">{{ p2_short_leg }}</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>