{% extends "base.html" %}
{% block css %}
<link href="{{ url_for('static',filename='css/x01.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='css/webcam.css') }}" rel="stylesheet">
{% endblock %}

{% block navbar %}
{% include 'game/game_navbar.html' %}
{% endblock %}

{% block container %}
<div class="container-fluid">
    {% endblock %}

    {% block app_content %}


    <div id="main-container" class="container">
        <div id="session" style="display: block;">
            <div id="session-header">
                <h1 id="session-title"></h1>
                <input class="btn btn-large btn-danger" type="button" id="buttonLeaveSession" onmouseup="leaveSession()"
                    value="Leave session">
            </div>
            <div id="main-video" class="col-md-6">
                <p></p><video autoplay playsinline="true"></video>
            </div>
            <div id="video-container" class="col-md-6"></div>
        </div>
    </div>

    {% endblock %}

    {% block footer %}
    {% endblock %}

    {% block scripts %}
    <meta id="hash_id" data-hashid="{{ game.hashid }}">
    <meta id="user_id" data-id="{{ current_user.id }}">
    <meta id="player1_id" data-id="{{ game.player1 }}">
    <meta id="player2_id" data-id="{{ game.player2 }}">
    <meta id="player1_name" data-name="{{ game.player1 }}">
    <meta id="player2_name" data-name="{{ game.player2 }}">
    <meta id="abort_url" data-url="{{ url_for('game.abort_game') }}">
    <meta id="game_url" data-url="{{ url_for('game.start') }}">
    <meta id="caller" data-caller="{{ caller }}">
    <meta id="cpu_delay" data-cpu_delay="{{ cpu_delay }}">
    <meta id="score_input_delay" data-delay="{{ game.score_input_delay }}">
    <meta id="out_mode" data-out_mode="{{ game.out_mode }}">
    <meta id="jitsi-settings" data-hashid="{{ game.jitsi_hashid }}" data-app="{{ webcam_settings.mobile_app }}"
        data-public_server="{{ game.jitsi_public_server }}" data-force_public_server="{{ jitsi_force_public_server }}">
    <meta id="chat_validation_url" data-url="{{ url_for('generic.validate_game_chat_message') }}">


    {% if current_user.id == game.player1 or current_user.id == game.player2 %}
    <script type="text/javascript"
        src="{{ url_for('static',filename='js/game/X01/x01_socket.js', version=config.VERSION) }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static',filename='js/game_chat_socket.js', version=config.VERSION) }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static',filename='js/openvidu/openvidu-browser-2.29.0.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static',filename='js/openvidu/app.js', version=config.VERSION) }}"></script>
    {% if current_user.webcam_settings and current_user.webcam_settings.mobile_follower_mode %}
    <script type="text/javascript"
        src="{{ url_for('static',filename='js/webcam_request_follow.js', version=config.VERSION) }}"></script>
    {% endif %}
    {% else %}
    <script type="text/javascript"
        src="{{ url_for('static',filename='js/game/X01/x01_spectator_socket.js', version=config.VERSION) }}"></script>
    {% endif %}
    {% endblock %}